.navbar{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #013914;
    color: white;
    transition: 0.5s all ease;
    position: sticky;
    top: 0;

    &.active{
         background-color: white;
         color: black;
    }
    .container{
        width: 1200px;
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        .logo{
            font-size: 34px;
            font-weight: bold;
            .text{

            }
            .dot{
                color: #1dbf73;
            }
        }
        .links{
            display: flex;
            align-items: center;
            gap: 24px;
            font-weight: 500;

            .user{
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;

                img{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .options{
                    position: absolute;
                    top: 80px;
                    right: 100px;
                    padding: 20px;
                    background-color: white;
                    border-radius: 10px;
                    border: 1px solid lightgray;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    color: gray;
                    width: 200px;
                    font-family: 300;
                }
            }

            button{
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                border: 1px solid white;
                cursor: pointer;
                background-color: transparent;

                &:hover{
                    background-color: #1dbf73;
                    border-color: #1dbf73;
                }
            }
        }
    }

    hr{
        width: 99%;
        height: 0;
        border: 0.3px solid rgb(224, 223, 223);
    }

    .menu{
        width: 1200px;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        font-weight: 300;
        color: gray;
        
    }
}